# local configuration (required)
# refer to the documentation for available locales
# or check in "src/locales" for available languages
DEFAULT_LOCALE = "en-US"

# logging configs (optional)
# refer to docs for more info on logging
# for time and date formatting, refer to https://moment.github.io/luxon/#/formatting?id=table-of-tokens
LOG_LEVEL = "info" # "debug" | "info" | "warn" | "error" | "silent" | "verbose" | etc, default is "info"
LOG_TO_FILE = false
LOG_DIR_PATH = "./logs/"
LOG_DATE_FORMAT = "[dd/MM/yyyy]"
LOG_TIME_FORMAT = "[h:mm:ss a]"
LOG_DISPLAY_TIME = true
LOG_DISPLAY_DATE = true
LOG_DISPLAY_SCOPE = true
LOG_DISPLAY_FILE_NAME = true
LOG_DISPLAY_BADGE = true
LOG_DISPLAY_LABEL = true
LOG_UPPERCASE_LABEL = true

# discord bot secrets (required)
# get your bot secrets at https://discord.com/developers/applications
DISCORD_CLIENT_TOKEN = "Your discord bot token"
DISCORD_CLIENT_ID = "Your discord bot id"
DISCORD_CLIENT_SECRET = "Your bot secret"

# Client Init Options (advance)
# You can leave theme as is or modified if necessay
DISCORD_GATEWAY_INTENT_BITS = 0 # if you require additional gateway events read the docs and modify as neccessary

# bot configs (required)
BOT_PREFIX = !! # Your bots default prefix, here !! is used as default
BOT_OWNER_ID = "Your discord id"
BOT_GUILD_ID = "Your server id"
BOT_DEVELOPER_IDS = ["",""] # your bot developer ids. you can add yours as well

# mongodb DataBase URL (required)
# get your mongodb uri at https://www.mongodb.com/atlas
MONGO_URI = "mongodb://127.0.0.1:27017" # Here using a locally hosted instance as default

# channel for logging perposes. provide id here (optional)
CHANNEL_GENERAL = "Your general log channel id"
CHANNEL_ERROR = "Your error log channel id"
CHANNEL_COMMAND = "Your command log channel id"

# support server link (optional)
# just provide any server's permanent invite url that is owned by you
SUPPORT_SERVER = "Your bot's support server invite link"

# website link (optional)
# any random website would do
BOT_WEBSITE = "Your bot's website link"