# VS Code setting files
.vscode

# To ignore packages
node_modules
**/node_modules/**

# To ignore build files
dist
build

# package lock files (ignore npm/yarn if using pnpm)
package-lock.json
yarn.lock
bun.lock
bun.lockb

# Secrets
.env
lavalinkNodes.js
lavalink-nodes.js

# Log files
logs
**/logs/**

# Archive, backup & dump files
archive
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z
*.gz
*.bz2
*.bak
*.sql
*.dump
*.log
